# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

files: |
    (?x)(
        docs\/.+\.py|
        lib\/.+\.py|
        tests\/.+\.py
    )
minimum_pre_commit_version: 1.21.0

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
        # Prevent giant files from being committed.
    -   id: check-added-large-files
        # Check whether files parse as valid Python.
    -   id: check-ast
        # Check for file name conflicts on case-insensitive filesytems.
    -   id: check-case-conflict
        # Check for files that contain merge conflict strings.
    -   id: check-merge-conflict
        # Check for debugger imports and py37+ `breakpoint()` calls in Python source.
    -   id: debug-statements
        # Don't commit to main branch.
    -   id: no-commit-to-branch

-   repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
    -   id: codespell
        types_or: [asciidoc, python, markdown, rst]
        additional_dependencies: [tomli]

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.9.0
    hooks:
    -   id: black
        pass_filenames: false
        args: [--config=./pyproject.toml, .]

-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
        types: [file, python]

-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        types: [file, python]
        args: [--filter-files, --skip=./lib/ncdata/__init__.py]

-   repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
    -   id: blacken-docs
        types: [file, rst]

-   repo: https://github.com/pycqa/pydocstyle
    rev: 6.3.0
    hooks:
    -   id: pydocstyle
        args: [--convention=numpy]

